# =====================
# ENV FILES
# =====================
.env
.env.*
!.env.example

# =====================
# PYTHON
# =====================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
backend/venv/
backend/.venv/

# =====================
# DJANGO
# =====================
*.sqlite3
db.sqlite3

media/
staticfiles/

*.log
debug.log

# Celery
celerybeat-schedule*
celeryd.pid

# =====================
# NODE / REACT
# =====================
frontend/node_modules/
frontend/build/
frontend/dist/

# =====================
# IDE
# =====================
.vscode/
.idea/
**/.vscode/
**/.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# TESTS
# =====================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =====================
# GIT
# =====================
*.orig

# =====================
# SSL / CERTBOT
# =====================
backend/certbot/

# =====================
# DOCKER
# =====================
**/.env.production