# =====================
# ENV FILES
# =====================
.env
.env.*
!.env.example

# =====================
# PYTHON
# =====================
venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

# =====================
# DATABASES
# =====================
*.sqlite3
db.sqlite3

# =====================
# DJANGO
# =====================
media/
staticfiles/

# =====================
# LOGS
# =====================
*.log
debug.log

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# GIT
# =====================
.git
.gitignore

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# TESTS
# =====================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =====================
# FRONTEND
# =====================
node_modules/
frontend/